# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual environments

venv/
.venv/
env/
ENV/

# Environment variables

.env
*.env

# VS Code settings

.vscode/
.vscode/*

# OS junk

.DS_Store
Thumbs.db

# PyCharm / JetBrains

.idea/

# Logs

*.log

# Compiled files

*.so

# Backup

*.bak
*.tmp

# Byte-compiled / cache

*.cache/
*.pytest_cache/

# Pip stuff

pip-wheel-metadata/
build/
dist/
*.egg-info/
